@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.dokkodomain{
    font-size: 29px;
    /*text-align: center;*/
}
*{
    font-family: 'Cinzel', serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
.button1{
    font-size: 17px;
    margin: 2px 2px;
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 60px ;
}
.button2{
    font-size: 17px;
    margin: 2px 2px;
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 20px ;
}
.button3{
    font-size: 17px;
    margin: 2px 2px;
    padding-top: 80px;
    padding-right: 20px;
    padding-left: 20px ;
}
/*.chess{
    left: 100px;
}
.english{
    left: 100px;
}
.mola{
    left: 100px;
}
